/Pertemuan1/ReadConsole/target/
/Pertemuan2/Java_Praktek/nbproject/private/
/Pertemuan2/Mahasiswa/nbproject/private/
/Pertemuan2/Mahasiswa/build/
/Pertemuan2/EncapTv/nbproject/private/
/Pertemuan2/EncapTv/build/
/Pertemuan2/Teori/EncapTv/build/
/Pertemuan2/Teori/EncapTv/nbproject/private/
/Pertemuan2/Teori/Mahasiswa/build/
/Pertemuan2/Teori/Mahasiswa/nbproject/private/
/Pertemuan2/Manusia/nbproject/private/
/Pertemuan2/Manusia/build/
/Pertemuan2/MobilDemo2/nbproject/private/
/Pertemuan2/MobilDemo2/build/
/Pertemuan2/BukuDemo/nbproject/private/
/Pertemuan2/BukuDemo/build/
/Pertemuan2/MatematikaDemo/nbproject/private/
/Pertemuan2/MatematikaDemo/build/
